<div class="resume-header row">
  <div class="col-sm-9">
    <div class="name">Saurabh Bansal</div>
    <div class="title">Full Stack Developer</div>
    <div class="row" style="font-size: 0.8rem;">
      <div class="col-md-4 field">
        <a href="tel:+46762006063">
          <i class="fas fa-phone-alt"></i>
          <span>+46 762 00 60 63</span>
        </a>
      </div>
      <div class="col-md-3 field">
        <a href="mailto:saurabhba@gmail.com">
          <i class="fas fa-at"></i>
          <span>saurabhba@gmail.com</span>
        </a>
      </div>
      <div class="col-md-4 field">
        <i class="fas fa-map-marker-alt"></i>
        <span>Stockholm, Sweden</span>
      </div>
    </div>
    <div class="row" style="font-size: 0.7rem; margin-top: 5px;">
      <div class="col-md-4 field">
        <a href="https://github.com/saurabhba" target="_blank">
          <i class="fab fa-github"></i>
          <span>https://github.com/saurabhba</span>
        </a>
      </div>
      <div class="col-md-3 field">
        <a href="https://saurabhba.github.io" target="_blank">
          <i class="far fa-user-circle"></i>
          <span>https://saurabhba.github.io</span>
        </a>
      </div>
      <div class="col-md-5 field">
        <a href="https://www.linkedin.com/in/saurabhba/" target="_blank">
          <i class="fab fa-linkedin"></i>
          <span>https://www.linkedin.com/in/saurabhba/</span>
        </a>
      </div>
    </div>
    <div class="row" style="font-size: 0.7rem; margin-top: 5px;"></div>
  </div>
  <div class="col-sm-3">
    <img
      src="../../assets/me2.png"
      alt="Saurabh Bansal"
      class="img-thumbnail rounded float-right"
      style="height: 120px;"
    />
  </div>
</div>
