<div class="resume-header row">
  <div class="col-sm-9">
    <div class="name">Saurabh Bansal</div>
    <div class="title">Full Stack Developer</div>
    <div class="row" style="font-size: 0.7rem;">
      <div class="col-md-4 field">
        <i class="fas fa-phone-alt fa-sm"></i>
        <span>+46 762 00 60 63</span>
      </div>
      <div class="col-md-4 field">
        <i class="fas fa-at fa-sm"></i>
        <span>saurabhba@gmail.com</span>
      </div>
      <div class="col-md-4 field">
        <i class="fas fa-map-marker-alt fa-sm"></i>
        <span>Stockholm, Sweden</span>
      </div>
    </div>
    <div class="row" style="font-size: 0.7rem; margin-top: 5px;">
      <div class="col-md-6 field">
        <i class="fab fa-linkedin fa-sm"></i>
        <span>https://www.linkedin.com/in/saurabhba/</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <img
      src="../../assets/me2.png"
      alt="Saurabh Bansal"
      class="img-thumbnail rounded float-right"
      style="height: 120px;"
    />
  </div>
</div>
