<div class="text">
  <div style="font-size: 18px; color: #474eac;">
    <span>Senior / Software Engineer</span>
  </div>
  <div class="d-flex justify-content-between" style="margin-top: 3px;">
    <a href="https://geometricglobal.com/" target="_blank">
      <div style="font-size: 15px; color: #ff8490;">
        <img
          src="../../../assets/logos/geometric.png"
          alt="Geometric"
          height="20px"
          style="margin-right: 8px;"
        />
        <span>Geometric Global Solutions</span>
      </div>
    </a>
    <div>
      <span style="margin-right: 16px;">
        <i class="far fa-calendar-alt" style="margin-right: 3px;"></i>
        <span style="font-size: 12px; font-weight: 700;"
          >June/2004 - Mar/2008</span
        >
      </span>
      <span style="margin-right: 16px;">
        <i class="fas fa-map-marker-alt fa-sm" style="margin-right: 3px;"></i>
        <span style="font-size: 12px;">Pune, India</span>
      </span>
    </div>
  </div>
  <div style="margin-top: 5px; font-size: 13px;">
    <p>
      <span
        >Geometric Global Solutions was a service providing company in CAD and
        PLM area.</span
      >
    </p>
    <p>
      <span
        >During this period I have worked in lot of projects from small size to
        big one. Some projects were data migration for Sun Microsystems,
        implementation of Enovia PLM for GE Healthcare, Sectra, Ericsson</span
      >
    </p>

    <ul>
      <li style="padding: 3px;">Use OOTB available functionality</li>
      <li style="padding: 3px;">
        <span>Understand business process, requirements</span>
      </li>
      <li style="padding: 3px;">High and low-level design</li>
      <li style="padding: 3px;">Follow coding standards</li>
    </ul>

    <div class="d-flex">
      <span style="font-weight: 700; font-size: 12px; white-space: nowrap;"
        >Tech Stack :</span
      >

      <ul style="list-style-type: none; margin: 0; padding: 0 3px;">
        <li style="float: left; padding: 0px 3px;">Enovia,</li>
        <li style="float: left; padding: 0px 3px;">Matrix,</li>
        <li style="float: left; padding: 0px 3px;">Java,</li>
        <li style="float: left; padding: 0px 3px;">JSP,</li>
        <li style="float: left; padding: 0px 3px;">Apache,</li>
        <li style="float: left; padding: 0px 3px;">Oracle</li>
      </ul>
    </div>
  </div>
</div>
