<div class="text">
  <div style="font-size: 18px; color: #474eac;">
    <span>Application Developer</span>
  </div>
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 3px;"
  >
    <a href="https://www.technia.com/" target="_blank">
      <div style="font-size: 15px; color: #ff8490;">
        <img
          src="../../../assets/logos/technia.jpeg"
          alt="Technia"
          height="20px"
          style="margin-right: 8px;"
        />
        <span>Technia</span>
      </div>
    </a>
    <div>
      <span style="margin-right: 16px;">
        <i class="far fa-calendar-alt" style="margin-right: 3px;"></i>
        <span style="font-size: 12px; font-weight: 700;"
          >Apr/2011 - Sep/2013</span
        >
      </span>
      <span style="margin-right: 16px;">
        <i class="fas fa-map-marker-alt fa-sm" style="margin-right: 3px;"></i>
        <span style="font-size: 12px;">Stockholm, Sweden</span>
      </span>
    </div>
  </div>
  <div style="margin-top: 5px; font-size: 13px;">
    <p>
      <span
        >TECHNIA provides exceptional PLM solutions creating measurable &
        sustainable business improvements.</span
      >
    </p>
    <p>
      <span
        >My role here is to help different clients to implement their business
        processes into PLM tool.</span
      >
    </p>
    <ul>
      <li style="padding: 3px;">Requirement analysis</li>
      <li style="padding: 3px;">Estimation and implementation</li>
      <li style="padding: 3px;">Testing</li>
      <li style="padding: 3px;">Deploy on Production</li>
    </ul>

    <div class="d-flex">
      <span style="font-weight: 700; font-size: 12px; white-space: nowrap;"
        >Tech Stack :</span
      >

      <ul style="list-style-type: none; margin: 0; padding: 0 3px;">
        <li style="float: left; padding: 0px 3px;">Enovia,</li>
        <li style="float: left; padding: 0px 3px;">
          TVC (Technia Value Components),
        </li>
        <li style="float: left; padding: 0px 3px;">Java,</li>
        <li style="float: left; padding: 0px 3px;">JSP,</li>
        <li style="float: left; padding: 0px 3px;">Tomcat,</li>
        <li style="float: left; padding: 0px 3px;">SQL,</li>
        <li style="float: left; padding: 0px 3px;">XSLT</li>
      </ul>
    </div>
  </div>
</div>
