.heading {
  font-weight: 400;
  color: #b2b4b6;
  font-size: 14px;
  letter-spacing: 4px;
  line-height: 17px;
  border-bottom: 2px solid hsla(0, 0%, 72.5%, 0.2);
  padding-bottom: 5px;
  text-transform: uppercase;
}

.text {
  color: #65696d;
  line-height: 1.35;
  white-space: pre-wrap;
  font-size: 15px;
  margin-top: 10px;
  font-family: Roboto;
  letter-spacing: 0.05em;
}
