<div style="margin-top: 20px;">
  <div class="heading">Summary</div>
  <div class="text">
    <p>
      <span
        >I have been working in IT industry since 2004 and as a full stack
        developer since 2013, during the period which I have worked in different
        environments. I am a self motivated and self taught professional who
        likes to solve problems.</span
      >
    </p>
    <p>
      <span
        >I merge a passion for usability and user experience with technical
        knowledge to create cool digital experiences. My repertoire includes
        programming languages and tools such as ReactJS, Angular, AngularJS,
        MySQL, Oracle, Gulp, SASS, LESS, Twitter Bootstrap, jQuery, and
        more.</span
      >
    </p>
  </div>
</div>
