<div class="text">
  <div style="font-size: 18px; color: #474eac;">
    <span>Architect / Developer</span>
  </div>
  <div
    class="d-flex justify-content-between align-items-center"
    style="margin-top: 3px;"
  >
    <a href="https://www.hm.com/" target="_blank">
      <div style="font-size: 15px; color: #ff8490;">
        <img
          src="../../../assets/logos/hm.png"
          alt="H&M"
          height="20px"
          style="margin-right: 8px;"
        />
        <span>H&amp;M</span>
      </div>
    </a>
    <div>
      <span style="margin-right: 16px;">
        <i class="far fa-calendar-alt" style="margin-right: 3px;"></i>
        <span style="font-size: 12px; font-weight: 700;"
          >Oct/2013 - Dec/2018</span
        >
      </span>
      <span style="margin-right: 16px;">
        <i class="fas fa-map-marker-alt fa-sm" style="margin-right: 3px;"></i>
        <span style="font-size: 12px;">Stockholm, Sweden</span>
      </span>
    </div>
  </div>
  <div style="margin-top: 5px; font-size: 13px;">
    <p>
      <span
        >H&amp;M is one of World's largest fashion companies. One of the
        division in H&amp;M has implemented Enovia as Java based Product
        LifeCycle Management tool for their product development and sample
        business process.
      </span>
    </p>
    <p>
      <span
        >Since this tool is JSP based so H&amp;M's global production offices was
        facing performance issues. Also business had some requirements which
        needs custom solution. All custom solutions was implemented by
        integrating Angular and Spring framework in this tool.</span
      >
    </p>
    <p>
      <span>My role and responsibilities in this project were to</span>
    </p>
    <ul>
      <li style="padding: 3px;">
        <span
          >Technical lead for a team to implement the H&M business process</span
        >
      </li>
      <li style="padding: 3px;">
        <span>Design Solutions</span>
      </li>
      <li style="padding: 3px;">
        <span>POCs for new frameworks/workflows</span>
      </li>
      <li style="padding: 3px;">
        <span
          >Interaction with Business with Business Analysts to understand
          requirements</span
        >
      </li>
      <li style="padding: 3px;">
        <span>Coordinates with other integrated systems</span>
      </li>
      <li style="padding: 3px;">
        <span>Ensure quality of code follows best practices</span>
      </li>
      <li style="padding: 3px;">
        <span>Coach new team members and get them up to speed</span>
      </li>
    </ul>

    <div class="d-flex">
      <span style="font-weight: 700; font-size: 12px; white-space: nowrap;"
        >Tech Stack :</span
      >

      <ul style="list-style-type: none; margin: 0; padding: 0 3px;">
        <li style="float: left; padding: 0px 3px;">AngularJs,</li>
        <li style="float: left; padding: 0px 3px;">Angular,</li>
        <li style="float: left; padding: 0px 3px;">HandlebarsJs</li>
        <li style="float: left; padding: 0px 3px;">JQuery,</li>
        <li style="float: left; padding: 0px 3px;">Java,</li>
        <li style="float: left; padding: 0px 3px;">JSP,</li>
        <li style="float: left; padding: 0px 3px;">Spring Framework,</li>
        <li style="float: left; padding: 0px 3px;">Tomcat,</li>
        <li style="float: left; padding: 0px 3px;">Tomee,</li>
        <li style="float: left; padding: 0px 3px;">Oracle,</li>
        <li style="float: left; padding: 0px 3px;">Enovia,</li>
        <li style="float: left; padding: 0px 3px;">
          TVC (Technia Value Components)
        </li>
      </ul>
    </div>
  </div>
</div>
