<div style="padding: 8px 15px;">
  <span style="color: #ff8490; font-size: 18px;">Front End</span>
  <div
    class="d-flex flex-wrap"
    style="font-size: 13px; color: #474eac; font-family: Roboto;"
  >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >ReactJs</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >AngularJs</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >Angular</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >Bootstrap</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >Javascript</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >SASS</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >LESS</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >ES6</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >TypeScript</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >HTML5</span
    >
    <span
      style="
        min-width: 20px;
        padding: 4px 8px;
        margin: 5px;
        border-bottom: 1px solid #a9a9a9;
      "
      >CSS3</span
    >
  </div>
</div>
