<div style="position: relative;">
  <div class="page shadow mb-5 bg-white rounded">
    <div><div class="page-background"></div></div>
    <app-header></app-header>
    <div class="row">
      <div class="col-md-7">
        <div style="margin-top: 20px;">
          <div class="heading">Summary</div>
          <div class="text">
            I have been working in IT industry since 2004 and as a full stack
            developer since 2013, during the period which I have worked in
            different environments. I am a self motivated and self taught
            professional who likes to solve problems. <br /><br />I merge a
            passion for usability and user experience with technical knowledge
            to create cool digital experiences. My repertoire includes
            programming languages and tools such as ReactJS, Angualr, AngularJS,
            MySQL, Oracle, Gulp, SASS, LESS, Twitter Bootstrap, jQuery, and
            more.
          </div>
        </div>
        <div style="margin-top: 20px;">
          <div class="heading">Experience</div>
          <div class="text">
            <div style="font-size: 18px; color: #474eac;">React Developer</div>
            <div
              class="d-flex justify-content-between"
              style="margin-top: 3px;"
            >
              <div style="font-size: 15px; color: #ff8490;">Adtoox AB</div>
              <div>
                <span style="margin-right: 16px;">
                  <i class="far fa-calendar-alt" style="margin-right: 3px;"></i>
                  <span style="font-size: 12px; font-weight: 700;"
                    >Jan/2019 - Present</span
                  >
                </span>
                <span style="margin-right: 16px;">
                  <i
                    class="fas fa-map-marker-alt fa-sm"
                    style="margin-right: 3px;"
                  ></i>
                  <span style="font-size: 12px;">Stockholm, Sweden</span>
                </span>
              </div>
            </div>
            <div style="margin-top: 5px; font-size: 13px;">
              <p>
                Adtoox is a file based delivery service customized for
                commercials and editorial content. Adtoox is integrated with
                more than 300 broadcasters and publishers across the world.
              </p>
              <p>
                Adtoox has developed an inhouse web-based product using JAVA and
                JSP. Some areas of the product are quite slow because the server
                generates huge HTML. So the idea was to replace such parts of
                the application with modern frontend frameworks. Also, the
                product supports multiple languages.
              </p>
              <p>
                My job here is to develop and integrate modern frontend into
                exisintg product.
              </p>
              <ul>
                <li>Develop React Components</li>
                <li>Implement REST API using jax-rs</li>
                <li>OAuth2</li>
                <li>CI/CD pipeline for frontend</li>
                <li>Develop design system using Storybook</li>
              </ul>

              <div class="d-flex">
                <span
                  style="
                    font-weight: 700;
                    font-size: 12px;
                    white-space: nowrap;
                  "
                  >Tech Stack :</span
                >

                <ul style="list-style-type: none; margin: 0; padding: 0 3px;">
                  <li style="float: left; padding: 0px 3px;">ReactJs,</li>
                  <li style="float: left; padding: 0px 3px;">Java,</li>
                  <li style="float: left; padding: 0px 3px;">EJB,</li>
                  <li style="float: left; padding: 0px 3px;">JSP,</li>
                  <li style="float: left; padding: 0px 3px;">JBoss,</li>
                  <li style="float: left; padding: 0px 3px;">MySQL,</li>
                  <li style="float: left; padding: 0px 3px;">XSLT,</li>
                  <li style="float: left; padding: 0px 3px;">Docker,</li>
                  <li style="float: left; padding: 0px 3px;">Kubernetes</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div style="margin-top: 20px;">
          <div class="heading">Technologies</div>
        </div>
      </div>
    </div>
  </div>
</div>
