<div style="position: relative;" id="resume">
  <div class="page shadow mb-5 bg-white rounded">
    <div><div class="page-background"></div></div>
    <app-header></app-header>
    <div class="row">
      <div class="col-md-7">
        <app-summary></app-summary>
        <div style="margin-top: 20px;">
          <div class="heading">Experience</div>
          <app-adtoox></app-adtoox>
          <app-hm></app-hm>
        </div>
      </div>
      <div class="col-md-5">
        <div style="margin-top: 20px;">
          <div class="heading">Technologies</div>
          <app-frontend></app-frontend>
          <app-backend></app-backend>
          <app-servers></app-servers>
          <app-databases></app-databases>
          <app-tools></app-tools>
          <div class="heading" style="margin-top: 10px;">Certificates</div>
          <ul
            style="
              font-size: 13px;
              font-family: Roboto;
              margin-top: 10px;
              color: #474eac;
              list-style: none;
              padding-left: 20px;
            "
          >
            <li style="border-bottom: 1px dashed #ccc; padding: 15px 0px;">
              OCA Java SE 7 Programmer
            </li>
            <li style="border-bottom: 1px dashed #ccc; padding: 15px 0px;">
              Dale Carnegie - Consultancy Excellence Program
            </li>
            <li style="border-bottom: 1px dashed #ccc; padding: 15px 0px;">
              Learning Tree - Best Practices in Java & Design Patterns
            </li>
            <li style="border-bottom: 1px dashed #ccc; padding: 15px 0px;">
              Coursera - Neural Networks and Deep Learning
            </li>
            <li style="border-bottom: 1px dashed #ccc; padding: 15px 0px;">
              Coursera - Structuring Machine Learning Projects
            </li>
            <li style="padding: 15px 0px;">
              Coursera - Improving Deep Neural Networks: Hyperparameter tuning,
              Regularization and Optimization
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="page shadow mb-5 bg-white rounded pageBreak"
    id="page1"
    style="page-break-before: always;"
  >
    <div><div class="page-background"></div></div>
    <div class="row">
      <div class="col-md-7">
        <div style="margin-top: 20px;">
          <div class="heading">Experience</div>
          <app-technia></app-technia>
          <app-cummins></app-cummins>
          <app-geometric></app-geometric>
        </div>
      </div>
      <div class="col-md-5">
        <div style="margin-top: 20px;">
          <div class="heading" style="margin-top: 10px;">Languages</div>
          <ul
            style="
              font-size: 13px;
              font-family: Roboto;
              margin-top: 10px;
              color: #474eac;
              list-style: none;
              padding-left: 20px;
            "
          >
            <li
              style="border-bottom: 1px dashed #ccc; padding: 15px 0px;"
              class="d-flex justify-content-between"
            >
              <span>English</span>
              <span style="color: #65696d;">Fluent</span>
            </li>
            <li
              style="padding: 15px 0px;"
              class="d-flex justify-content-between"
            >
              <span>Hindi</span>
              <span style="color: #65696d;">Mother tongue</span>
            </li>
          </ul>
        </div>
        <div class="heading" style="margin-top: 10px;">Nationality</div>
        <ul
          style="
            font-size: 13px;
            font-family: Roboto;
            margin-top: 10px;
            color: #474eac;
            list-style: none;
            padding-left: 20px;
          "
        >
          <li style="padding: 15px 0px;" class="d-flex justify-content-between">
            <span>Swedish</span>
          </li>
        </ul>

        <div class="heading" style="margin-top: 10px;">Education</div>
        <ul
          style="
            font-size: 13px;
            font-family: Roboto;
            margin-top: 10px;
            color: #474eac;
            list-style: none;
            padding-left: 20px;
          "
        >
          <li style="padding: 15px 0px;" class="d-flex justify-content-between">
            <span>Indian Institute of Technology Roorkee</span>
            <span style="color: #65696d;">2000 - 2004</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
