.page {
  margin: 0 auto;
  margin-top: 20px;
  width: 898px;
  height: 1269px;
  position: relative;
  padding: 60px;
}

.page-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.1;
  background-image: url("../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media print {
  .page {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
  }
}
