<div class="text">
  <div style="font-size: 18px; color: #474eac;">
    <span>Business/System Architect</span>
  </div>
  <div class="d-flex justify-content-between" style="margin-top: 3px;">
    <a href="https://www.cummins.com/" target="_blank">
      <div style="font-size: 15px; color: #ff8490;">
        <img
          src="../../../assets/logos/cummins.jpeg"
          alt="Cummins"
          height="20px"
          style="margin-right: 8px;"
        />
        <span>Cummins</span>
      </div>
    </a>
    <div>
      <span style="margin-right: 16px;">
        <i class="far fa-calendar-alt" style="margin-right: 3px;"></i>
        <span style="font-size: 12px; font-weight: 700;"
          >Apr/2008 - Mar/2011</span
        >
      </span>
      <span style="margin-right: 16px;">
        <i class="fas fa-map-marker-alt fa-sm" style="margin-right: 3px;"></i>
        <span style="font-size: 12px;">Indiana, USA</span>
      </span>
    </div>
  </div>
  <div style="margin-top: 5px; font-size: 13px;">
    <p>
      <span
        >Cummins Inc., a global power technology leader, is a corporation of
        complementary business units that design, engineer, manufacture,
        distribute and service engines and related technologies, including fuel
        systems, controls, air handling, filtration, emission solutions, and
        electrical power generation systems.</span
      >
    </p>
    <p>
      <span
        >My job at client-side includes the understanding of existing Cummins
        EBU PLM architecture, analysis of each application running in
        production, understanding of new requirements, design & impact analysis,
        performance improvement analysis, define the roadmap for the future
        implementation as per the business strategy, providing the solution for
        existing issues with minimum implementation effort & impact on other
        applications, defining the coding standards & guideline for quality
        standard coding, interaction with different business owners & project
        teams & guide the project teams to use maximum OOTB features &
        functionalities.</span
      >
    </p>
    <ul>
      <li style="padding: 3px;">
        <span>Coordinate between different teams</span>
      </li>
      <li style="padding: 3px;">
        <span>Design reviews implemented by different teams</span>
      </li>
      <li style="padding: 3px;">
        <span>Audit and Analyze Cummins EBU PLM applications</span>
      </li>
      <li style="padding: 3px;">
        <span
          >Compliance with Out of the Box (OOTB) Features – New planned release
          or existing applications</span
        >
      </li>
      <li style="padding: 3px;">
        <span
          >Understanding of Customizations, Configurations, and Extensions: For
          existing applications and recommending alternatives for OOTB
          compliance</span
        >
      </li>
      <li style="padding: 3px;">
        <span
          >Design & Performance recommendations for Data Migrations/Data
          Cleanup</span
        >
      </li>
      <li style="padding: 3px;">
        <span
          >Data Migration Approach Comparisons. For example, Flat file-based
          migration against Adaplet based Data Migration</span
        >
      </li>

      <li style="padding: 3px;">
        <span>Code Audit</span>
      </li>
      <li style="padding: 3px;">Proof of Concept development</li>
      <li style="padding: 3px;">
        Performance analysis & improvement recommendations
      </li>
      <li style="padding: 3px;">Matrix schema management</li>
      <li style="padding: 3px;">Knowledge Sharing – Best Practice</li>
    </ul>

    <div class="d-flex">
      <span style="font-weight: 700; font-size: 12px; white-space: nowrap;"
        >Tech Stack :</span
      >

      <ul style="list-style-type: none; margin: 0; padding: 0 3px;">
        <li style="float: left; padding: 0px 3px;">Enovia,</li>
        <li style="float: left; padding: 0px 3px;">
          TVC (Technia Value Components),
        </li>
        <li style="float: left; padding: 0px 3px;">Java,</li>
        <li style="float: left; padding: 0px 3px;">JSP,</li>
        <li style="float: left; padding: 0px 3px;">Tomcat,</li>
        <li style="float: left; padding: 0px 3px;">SQL,</li>
        <li style="float: left; padding: 0px 3px;">XSLT</li>
      </ul>
    </div>
  </div>
</div>
